<footer>

<div class="top"><a href="#logo">{% include icons/up.html %}</a></div>


<div class="wrapper">
  <div class="hline"></div>
  <div class="social"><a href="http://www.w3schools.com">&#62220;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62217;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62223;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62232;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62235;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62226;</a></div>
  <div class="social"><a href="http://www.w3schools.com">&#62214;</a></div>
</div>

    
</footer>